In [130]:
import pandas as pd
import numpy as np
import math

# Using Land/Ocean Data

In [131]:
path = 'C:/Users/Owner/Documents/Thesis/Exploration/Mean Prec Data/Prec_Mean_by_Region.csv'
ocean_land = pd.read_csv(path)

nw = ocean_land['NW_Aus_Prec_Mean'].tolist()
ne = ocean_land['NE_Aus_Prec_Mean'].tolist()
mc = ocean_land['MC_Prec_Mean'].tolist()
io = ocean_land['IO_Prec_Mean'].tolist()
ism = ocean_land['ISM_Prec_Mean'].tolist()
easm = ocean_land['EASM_Prec_Mean'].tolist()
eep = ocean_land['EEP_Prec_Mean'].tolist()
dates = ocean_land['Date'].tolist()

In [111]:
def boreal_years(time_series):
    no_nan = [x for x in time_series if math.isnan(x)==False]

    test = []
    for i in range(len(no_nan)):
        year = no_nan[i*12:i*12+12]
        if len(year) == 12:
            test.append(year)
        else:
            break
    
    return test

def austral_years(time_series):
    cropped = time_series[1824+5:] # Need continuous data to take June years consistently. Need this to start at June
    
    test = []
    for i in range(len(cropped)):
        year = cropped[i*12:i*12+12]
        if len(year) == 12:
            test.append(year)
        else:
            break
    
    return test

In [112]:
# Measure Austral mean in Borel year and vice versa
def average_jja(time_series):
    jja = [5,6,7] # June, July, August

    years = boreal_years(time_series)
    
    props = []
    for i in range(len(years)):
        observation_year = years[i]
        
        jja_total = 0
        for j in jja:
            jja_total += observation_year[j]
            
        total = sum(observation_year)
        props.append(100*jja_total/total)
    
    return props

# Measure Austral mean in Borel year and vice versa
def average_djf(time_series):
    jja = [6,7,8] # December,January,February

    years = austral_years(time_series)
    
    props = []
    for i in range(len(years)):
        observation_year = years[i]
        
        jja_total = 0
        for j in jja:
            jja_total += observation_year[j]
            
        total = sum(observation_year)
        props.append(100*jja_total/total)
    
    return props

In [121]:
easms = average_jja(easm)
isms =average_jja(ism)
nws = average_djf(nw)
nes = average_djf(ne)
mcs = average_djf(mc)
ios = average_djf(io)
eeps = average_djf(eep)

precipitation_props = pd.DataFrame(zip(nws,nes,mcs,ios,eeps,isms,easms),columns=['NW','NE','MC','IO','EEP','ISM','EASM'])
precipitation_props.loc['Mean'] = precipitation_props.mean()

In [122]:
precipitation_props

,NW,NE,MC,IO,EEP,ISM,EASM
0,51.313427,34.502338,30.801378,30.868310,36.124557,34.681264,40.359490
1,51.538074,39.719846,30.043006,33.532124,36.479127,34.942747,41.492522
2,50.615313,36.467255,29.753506,34.349983,38.189759,34.459358,42.187148
3,52.977703,42.095929,30.169907,32.264524,35.876224,35.271381,41.130665
4,51.039740,39.286133,30.788994,33.451638,34.215435,35.329255,41.244284
...,...,...,...,...,...,...,...
236,50.093679,40.018376,31.354463,27.995689,36.027333,36.625539,38.206094
237,50.906667,43.114784,30.113006,27.244531,32.712851,35.637990,37.827310
238,50.796296,44.527673,30.013329,28.895001,33.033014,34.805600,38.332446
239,50.919550,36.712984,28.243432,27.503442,31.642633,34.830648,39.113982
Mean,51.563297,38.953984,30.120153,32.181669,36.413774,35.424408,40.870432

# Using LAND ONLY Data (EEP does not exist on land...)

In [129]:
# There are 31 land samples in the Northwest Australia box
# There are 12 land samples in the Northeast Australia box
# There are 64 land samples in the Maritime Continent box
# There are 1 land samples in the Western Indian Ocean box
# There are 63 land samples in the Indian summer monsoon box
# There are 23 land samples in the East Asian summer monsoon box
# There are 0 land samples in the East Equatorial Pacific box

In [126]:
land = pd.read_csv('C:/Users/Owner/Documents/Thesis/Exploration/Filtered_Coords/Land_Prec_Mean_by_Region.csv')

land_nw = land['NW_Aus_Land_Prec_Mean'].tolist()
land_ne = land['NE_Aus_Land_Prec_Mean'].tolist()
land_mc = land['MC_Land_Prec_Mean'].tolist()
land_io = land['IO_Land_Prec_Mean'].tolist()
land_ism = land['ISM_Land_Prec_Mean'].tolist()
land_easm = land['EASM_Land_Prec_Mean'].tolist()
#land_eep = land['EEP_Land_Prec_Mean'].tolist()
land_dates = land['Date'].tolist()

In [127]:
easms = average_jja(land_easm)
isms =average_jja(land_ism)
nws = average_djf(land_nw)
nes = average_djf(land_ne)
mcs = average_djf(land_mc)
ios = average_djf(land_io)
#eeps = average_djf(eep)

precipitation_props_land = pd.DataFrame(zip(nws,nes,mcs,ios,isms,easms),columns=['NW','NE','MC','IO','ISM','EASM'])
precipitation_props_land.loc['Mean'] = precipitation_props_land.mean()

In [128]:
precipitation_props_land

             NW         NE         MC         IO        ISM       EASM
0     52.412902  35.352196  27.086079  36.165251  33.543591  41.258777
1     52.119602  40.355390  27.070966  43.356746  33.051961  41.220122
2     51.997873  37.442058  26.339138  43.403396  33.078024  43.355981
3     53.795714  43.235007  27.073575  40.702026  33.867694  42.106997
4     51.111887  40.157390  27.586837  42.493556  34.059605  41.621363
...         ...        ...        ...        ...        ...        ...
236   50.946182  40.943779  27.620236  43.474395  36.949702  41.931277
237   52.615791  41.728312  26.083250  41.877609  35.911132  40.598663
238   51.434042  42.167050  26.620409  41.192750  33.360811  39.642799
239   52.427974  39.253422  24.816286  41.907065  34.152849  40.400731
Mean  52.755912  40.127830  26.646640  42.869261  34.446471  41.809087

[241 rows x 6 columns]